/* !RESET */
*{
    box-sizing: border-box;
    margin: 0;
}

header{
   /*  position:fixed; */
   position: relative;
   z-index: 2;
}

button{
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-weight: 900;

}

a{
    text-decoration: none;
    color: black;
}

img{
    width:500px;
    height: 350px;
}

.container-button{
    float:right;
    padding:20px 20px 0 0;
   position: absolute;
   top:20px;
   right:10px;
}


.clearfix::after{
    content: "";
    display: table;
    clear:both ;
}




.container-red{
    position: relative;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.container-green{
    position: relative;
    background-color: green;
    width: 100vw;
    height: 100vh;
}

.container-yellow{
    position: relative;
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

.description {
    bottom:20px;
    text-transform:uppercase;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.container-elements{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.yellow-text{
    color: yellow;
} 

.green-text{
    color:green;
}




